extends layout 

block content 
    h2 All categories
    
    if categories.length
        ul.categories-list
            each category in categories
                li
                    h3 #{category.name}
                    p #{category.description}
                    div.categories-links
                        a(href=category.url+"/update") Update
                        a(href=category.url+"/delete") Delete
                        a(href=category.url+"/items") Show items
    else
        p There are no categories.
