extends layout

block content 
    h2= title 

    if items.length
        ul.items-list 
            each item in items 
                li 
                    h3 
                        a(href=item.url+"/detail") #{item.name}                    
                    p 
                        span.bold Description:              
                        span #{item.description}
                                       
                    p 
                        span.bold Categories:
                        each val, index in item.category
                            a(href=val.url+"/items")  #{val.name}
                            if index < item.category.length - 1
                                |, &nbsp; 
                    p 
                        span.bold Number of Units: 
                        span #{item.units_in_stock}

                    p 
                        span.bold Price: 
                        span #{item.price}

                    div.items-links
                        a(href=item.url+"/update") Update
                        a(href=item.url+"/delete") Delete
                        
    else
        p There are no items.